body{
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x:hidden;

}
.landingPage{
  background-image: url("../img/backgrounds/landing.jpg");
  background-size: cover;
  height: 750px;
  background-color: red;
}
.landingImg img{
  position: absolute;
  top: 300px;
  left: 40%;
}
.landingImg h1{
  position: absolute;
  top: 600px;
  left: 40%;
  color: white;

}
h1 span{
  font-size: 50px;
}
.happyTime{
  height:125px;
}
.happyHour{
  height: 250px;
  width: 455px;
}
.happyHour img {
  height: 250px;
  width: 470px;
}
.happyTimeCol{
  background-color: tomato;
}
.wholeBoxModel{
  height: 570px;
  position: relative;
  top: 200px;
  left: 300px;
}
.fBoxModel{
  height: 100px;
  width: 300px;
}
.fBoxModelText{
  position: relative;
  left: 600px;
  top: -100px;
}
.boxModel2{
  margin-top: 200px;
}
.sBoxModelText{

}
.sBoxModelImg{
  position: relative;
  left: 900px;
  top: -300px;
  width: 950px;
}
